<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ke.addresspicker">

    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <!--    &lt;!&ndash; 允许程序打开网络套接字 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.INTERNET" /> &lt;!&ndash; 允许程序设置内置sd卡的写权限 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> &lt;!&ndash; 允许程序获取网络状态 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> &lt;!&ndash; 允许程序访问WiFi网络信息 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> &lt;!&ndash; 允许程序读写手机状态和身份 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> &lt;!&ndash; 允许程序访问CellID或WiFi热点来获取粗略的位置 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.CAMERA" />-->
    <!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--    <uses-permission android:name="android.permission.INTERNET" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
    <!--    <uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!--    <uses-permission android:name="android.permission.WRITE_CONTACTS" />-->
    <!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->


    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity
            android:name=".HostActivity"
            android:theme="@style/AddressPickerTheme" />
    </application>

</manifest>